publishconsume/src/main/resources/TestWSDL.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://publishconsume/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PublishWebserviceService" targetNamespace="http://publishconsume/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://publishconsume/" elementFormDefault="unqualified" targetNamespace="http://publishconsume/" version="1.0">
<xs:element name="getCompany" type="tns:getCompany"/>
<xs:element name="getCompanyResponse" type="tns:getCompanyResponse"/>
<xs:element name="getName" type="tns:getName"/>
<xs:element name="getNameResponse" type="tns:getNameResponse"/>
<xs:element name="setCompany" type="tns:setCompany"/>
<xs:element name="setCompanyResponse" type="tns:setCompanyResponse"/>
<xs:element name="setName" type="tns:setName"/>
<xs:element name="setNameResponse" type="tns:setNameResponse"/>
<xs:complexType name="setCompany">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setCompanyResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getCompany">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getCompanyResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getName">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setName">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setNameResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="setCompany">
<wsdl:part element="tns:setCompany" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getNameResponse">
<wsdl:part element="tns:getNameResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="setCompanyResponse">
<wsdl:part element="tns:setCompanyResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getCompany">
<wsdl:part element="tns:getCompany" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getName">
<wsdl:part element="tns:getName" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getCompanyResponse">
<wsdl:part element="tns:getCompanyResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="setName">
<wsdl:part element="tns:setName" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="setNameResponse">
<wsdl:part element="tns:setNameResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="PublishWebservice">
<wsdl:operation name="setCompany">
<wsdl:input message="tns:setCompany" name="setCompany"></wsdl:input>
<wsdl:output message="tns:setCompanyResponse" name="setCompanyResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getCompany">
<wsdl:input message="tns:getCompany" name="getCompany"></wsdl:input>
<wsdl:output message="tns:getCompanyResponse" name="getCompanyResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getName">
<wsdl:input message="tns:getName" name="getName"></wsdl:input>
<wsdl:output message="tns:getNameResponse" name="getNameResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="setName">
<wsdl:input message="tns:setName" name="setName"></wsdl:input>
<wsdl:output message="tns:setNameResponse" name="setNameResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="PublishWebserviceServiceSoapBinding" type="tns:PublishWebservice">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="setCompany">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="setCompany">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="setCompanyResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getCompany">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getCompany">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getCompanyResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getName">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getName">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getNameResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="setName">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="setName">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="setNameResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PublishWebserviceService">
<wsdl:port binding="tns:PublishWebserviceServiceSoapBinding" name="PublishWebservicePort">
<soap:address location="http://localhost:8081/publish"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>